:root {
  --text-color: #fffde7;
}
.footer-container {
  position: absolute;
  bottom: 0;
  left: 45.6%;
  font-size: 1.5rem;
}
.developer a {
  color: var(--text-color);
  margin: 0 0.5rem;
}
.developer a:hover {
  color: rgb(47, 146, 208);
}
.copyRight {
  font-size: 1.2rem;
}
