:root {
  --add-Button-color: #47b8e0;
  --background-color: #fffde7;
  --text-color: #fffde7;
  --check-Button-color: #47b8e0;
  --check-hover-color: #f9f5f5;
  --trash-Button-color: #34314c;
  --trash-hover-color: #f9f5f5;
  --black-color: #2a3434;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  min-width: 45vh;
  margin: 0.5rem;
  background: white;
  color: black;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
.todo li {
  flex: 1;
  padding: 0 0.3rem;
  text-align: center;
}
.complete-btn,
.trash-btn {
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--text-color);
}
.complete-btn {
  background: var(--check-Button-color);
}
.trash-btn {
  background: var(--trash-Button-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.complete-btn:hover {
  background-color: var(--check-hover-color);
  color: var(--check-Button-color);
}
.trash-btn:hover {
  background-color: var(--trash-hover-color);
  color: var(--trash-Button-color);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
