.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.temp-icon {
  font-size: 1.5rem;
}
.temp-icon i {
  padding-right: 1rem;
}
.place {
  font-size: 1rem;
  margin-right: 0.5rem;
}
/* 날씨 아이콘 색 지정 */

/* 구름, 비 */
.fa-cloud,
.fa-cloud-showers-heavy {
  color: grey;
}
/* 번개 */
.fa-bolt {
  color: rgb(251, 255, 0);
}
/* 달 */
.fa-moon {
  color: yellow;
}
/* 해 */
.fa-sun {
  color: rgb(255, 89, 0);
}
