* {
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
}
