* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  color: white;
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.3s linear;
}
